/* окрашиваем все абзацы в синий цвет */
p {
    color: blue;
}

/* выделяем жирным шрифтом все тэги с классом bold 
и задаем им желтый фон
В данном случае это последние два элемента списка li */
.bold {
    font-weight: bold;
    background-color: yellow;
}

/* Перекрашиваем заголовок h1 с id="redHeader" в красный цвет
и перемещяем его в центр страницы */
#redHeader {
    color: red;
    text-align: center;
}




/* Ниже пример конфликтующих стилей для тэга h3 */

/* Самый большой приоритет у id
не важно где он стоит, ниже или выше других 
селекторов, он будет выбран как конечный стиль */

/* Если убрать id, то приоритет далее переходит классам */

/* Если оставить только селектор по названию тэга, 
то его стили будут использованы без вариантов */

.pinkHeader {
    color: pink;
}

h3 {
    color: yellow;
}

#greenHeader {
    color: green;
}

