/* Задание 1 --------------------*/

/* Кнопка будет менять цвет при наведении мышкой на нее */
#submit-button:hover {
    background-color: #00e498;
}

/* Когда поле ввода становиться активным, ее границы меняют цвет на красный.
Поле ввода становиться активным если пользователь встает в это поле выделяя ее мышкой. Или переходит
в это поле при нажатии кнопки Tab на клавиатуре. */
#name-input:focus {
    outline: none;   /* Здесь мы удаляем предустановленные границы поля, чтобы они не мешали */
    border: 2px solid #cf1515;
}


/* Задание 2 --------------------*/

/* Меняем стиль первого и последнего элемента в маркированном списке */
li:first-child {
    color: #b40000;
    font-family: arial;
}

li:last-child {
    color: #1060d8;
    font-weight: bold;
}


/* Задание 3 --------------------*/

/* В контейнерах со ссылками, сами ссылки будут менять цвет на зеленый при наведении курсором мыши */
.link-list  a:hover {
    color: #36b802;
}

/* Попробуйте нажать несколько раз кнопку Tab на странице, вы заметите что по очереди выделяются ссылки.
Выделенные или активные ссылки меняют цвет заливки на оранжевато-красный, а текст ссылки станет жирным*/
.link-list  a:focus {
    background-color: #faa984;
    font-weight: bold;
}

/* Все нечетные абзацы в первом списке со ссылками будут менять цвет фона на голубоватый */
div.list1 > p:nth-child(odd) {
    background-color: #67dcff;
}

/* Все четные абзацы во втором списке со ссылками будут менять цвет фона на желтый */
div.list2 > p:nth-child(even) {
    background-color: #fdeb43;
}

/* Четвертый абзац в третьем списке со ссылками будет менять цвет фона на розовый */
div.list3 > p:nth-child(4) {
    background-color: #ff8be2;
}


/* Задание 4 --------------------*/

/* Создаем отдельный блок для имитации страницы сайт */
.web-block {
    max-width: 800px;
    display: block;
    margin: 0 auto;  /* Центрируем содержимое страницы */
    background-color: #fafefa;
}

/* Выделяем стилями три основных блока страницы */
.header-block {
    background-color: #caffe9;
    padding: 10px;
}


.main-block {
    padding: 10px;
}

.footer-block {
    background-color: #f8f8f8;
    padding: 10px;
}


/* Создаем карточки ввиде ссылок на страницы на сайте Codepen */
.main-block a {

    display: block;

    text-decoration: none;
    color: #000;

    border: 1px solid #cfcfcf;

    margin: 5px;
    padding: 10px;
}

/* Создаем красивые ссылки на соц.сети */
.footer-block a {

    text-decoration: none;
    color: #000;

    border: 1px solid #04d9ff;
    border-radius: 15px;
    background-color: #ccfffb;

    margin: 15px;
    padding: 3px 15px;
}

/* При наведении курсором мыши выделяем первый элемент в любом блоке нашей мнимой страницы */
/* Здесь перед двоеточием нет названия тэга, а это значит что будет использован любой элемент который
стоит первым в блоке */
.web-block div :first-child:hover {
    background-color: #a00000;
    color: rgba(255,255,255,0.8);
}

/* При выделении курсором мыши (или через кнопку Tab) выделяем последний элемент в любом блоке 
нашей мнимой страницы. Но это недействует на наши абзацы, так как они не выделяются*/
.web-block div :last-child:focus {
    background-color: #3f34db;
    color: rgba(255, 234, 234, 0.8);
}

/* Кстати, чтобы увидет эффекты при выделении элемента можно также использовать правую кнопку мыши */