
/* Задаем первому абзацу в первом контейнере фиксированный размер шрифта 30px */
#likeHeader {
    font-size: 30px;
}

/* Задаем первому контейнеру фиксированные размеры через единицу измерения 'px'  */
.container-1 {
    width: 400px;
    height: 200px;

    border: 1px solid lightcoral;
    margin-bottom: 5px;
}

/* Во втором контейнере задаем фиксированный размер шрифта чтобы использовать его далее */
.container-2 {
    font-size: 15px;

    /*Добавляем границы и отступы для читабельности*/
    padding: 10px;
    border: 1px solid blue;
}

/* Добавляем границы для вложенного контейнера чтобы его было видно*/
.container-2 > div {
    border: 1px solid gray;
}

/* В контейнере, который вложен во второй контейнер, меняем размер шрифта на 2em
В итоге размер шрифта должен увеличиться в два раза относительно родительского контейнера,
то есть 2 * 15px  и получается 30px*/
.container-2 > div > p {
    font-size: 2em;
}

/* В третьем контейнере задаем размер шрифта 1.5rem
Это 1.5 * 16px.  Здесь 1rem это стандартный размер шрифта в корневом html элементе*/
.container-3 {
    font-size: 1.5rem;

    padding: 10px;
    border: 1px solid blue;
}

.container-3 > div {
    border: 1px solid gray;
}

/* В контейнере, который вложен в третьи контейнер, размер шрифта уже не зависит от родительского
так как мы его задали через единицу rem 
В данном случае размер шрифта будет 2rem = 2*16px = 32px  */
.container-3 > div > p {
    font-size: 2rem;
}


/* Далее идут вложенные в друг друга контейнеры выделенные разными цветами. 
Их размеры ширины заданы через процентную связь по отношению к родительскому элементу  */

/* У четвертого контейнера ширина имеет размер 80% от размера ширины видимой области документа, 
так как родительским элементов в данном случае выступает тэг 'body'  
Также он имеет розовый цвет фона*/
.container-4 {
    width: 80%;

    background-color: pink;
    padding: 5px;
    margin: 10px 0;
}

/* У голубого контейнера вложенного в розовый контейнер размер ширины состовляет 70% от 
родительского розового контейнера */
.container-4 > div {
    width: 70%;

    background-color: lightblue;
    padding: 5px;
}

/* У яркожелтого контейнера вложенного в голубой контейнер размер ширины состовляет 50% от 
родительского голубого контейнера */
.container-4 > div > div{
    width: 50%;

    background-color: lightyellow;
    padding: 5px;
}


/* У пятого контейнера цвет фона и цвета внутренних элементов заданы 
через шеснадцатеричную цветовую модель */
/* На самом деле здесь три числа в шеснадцатеричном исчислении, первое число задает оттенок красного
второе число задает оттенок зеленого, и третье число задает оттенок синего. При переводе 
в десятичную систему отсчета каждое число имеет значение от 0 до 255*/
/* 0 - это самый темный оттенок, 255 - самый яркий оттенок */
.container-5 {
    background-color: #280b75;
    padding: 5px;
    margin-bottom: 10px;
}

.container-5 > h3{
    color: #f7a5a5;
}

.container-5 > p{
    color: #84fa9e;
}

/* У шестого контейнера цвет фона и цвета внутренних элементов заданы 
через функцию rgb(), которая принимает три числа, каждая от 0 до 255 */ 
/* RGB буквально расшифровывается как red, green, blue */
.container-6 {
    background-color: rgb(67, 167, 1);
    padding: 5px;
    margin-bottom: 10px;
}

.container-6 > h3{
    color: rgb(146, 0, 134);
}

.container-6 > p{
    color: rgb(158, 245, 240);
}

/* В седьмом контейнере цвет фона черный. Все цвета заданы через функцию rgba(), которая принимает
еще одно значение, которое меняет прозрачность цвета. называется альфа канал. */
/* Значение 0 - это полностью прозрачный цвет, значение 1 - полностью непрозрачный */
/* Цвет фона задаем полностью не прозрачным, чтобы лучше видеть прозрачность внутренних элементов */
.container-7 {
    background-color: rgba(0, 0, 0, 1);  /* непрозрачный, альфа равно 1 */
    padding: 5px;
    margin-bottom: 10px;
}

.container-7 > h3{
    color: rgb(255, 255, 255, 0.5);  /* полупрозрачный, альфа 0.5 */
}

.container-7 > .alpha-00{
    color: rgb(255, 255, 255, 1);  /* непрозрачный, альфа равно 1 */
}

.container-7 > .alpha-08{
    color: rgb(255, 255, 255, 0.8); /* Слегка прозрачный текст */
}

.container-7 > .alpha-02{
    color: rgb(255, 255, 255, 0.2);  /* Очень прозрачный текст, его почти не видно */
}

.container-7 > .alpha-10{
    color: rgb(255, 255, 255, 1);  /* непрозрачный, альфа равно 1 */
}