/* Перекращиваем контейнер в серый чтобы было видно как он меняет поведение */
.gray {
    background-color: lightgray;
    padding: 3px;
    margin: 3px;
}

/* меняем поведение всех блочных элементов на строчное отображение 
Это достигается за счет свойтсва display: inline  */
.block-to-inline {
    display: inline;
}

/* После преобразования все заголовки, абзацы и контейнеры выстроились в строки
Они больше не занимают всю ширину экрана каждый по отдельности */

/* меняем поведение всех строчных элементов на блочное отображение 
Это достигается за счет свойтсва display: block  */
.inline-to-block {
    display: block;
}

/* После преобразования, каждая картинка по отдельности занимает 
всю ширину экрана  */

/* Стилизуем еще один контейнер для третьего задания */
.container {
    background-color: lightcyan;
    margin: 5px;
    padding: 10px;
}

/* Все вложенные элементы в контейнере делаем блочными.
Они должны выравняться по вертикали, так как каждый элемент начинается 
с новой строки и занимает всю ширину экрана в своей строке*/
.container > * {
    display: block;
    margin-bottom: 5px;
}